<!--The main container-->
<div class="container">
    <div class="burger-image"></div>
    <h1 style="color:red">Eat A Burger!</h1>
    <form>
        <div class="form-group">
            <textarea type="text" class="form-control" id="freshBurgers"></textarea>
            <button type="submit" id="submitBtn" class= "btn btn-primary mt-2">Submit!</button><br>
            <small type="text" class="form-group text-muted mt-3">Enter a burger you wants to eat and click Submit</small>
        </div>
    </form>
</div>