body {
    background-color:#fed8b1;
}

.container{
    text-align:center;
    padding:5%;
}

.form-group{
    width: 400px;
    margin: 5px auto;
}

.burger-image{
}

.burger-image::before{
    content: "🍔";
    font-size: 100px;
}

.burger-image::after{
    
}

li{
    list-style-type:none;
}

li p{
    padding-left: 5px;
    padding-bottom: 15px;
    text-align:left;
}

.Devoured{
    float:right;
    margin-right:25%;
}

.devouredBurger{
    width:250px;
    text-align:left;
    margin-bottom: 15px;
}